*{
    margin: 0;
    padding: 0;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
input{
      border: none;
    background: none;
}
input:focus{
    outline: none;
    border: none;
}
input:focus-visible{
    outline: none;
    border: none;
}